/* general */

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oxygen, sans-serif;
}

button  {
    background-color: #442E6B;
    border: none;
    min-width: 100px;
    border-radius: 5px;
    min-height: 40px;
    font-size: 20px;
    padding: 20px 10px;
    text-align: center;
    color: white;
}

button:hover, .alphabet-letter:hover {
    background-color: rgb(103, 68, 163);
    transition: 0.3s ease;
    cursor: pointer;
}

.nohover:hover    {
    background-color: gray;
    cursor: default;
}

button:disabled {
    background-color: gray;
    cursor: default;
}


/* header */
header  h1 {
    font-weight: bold;
    padding: 10px 0;
    font-size: 40px;
    text-align: center;
    background-color: darkolivegreen;
    color: white;
}

/* main */

#main-content   {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}

#user-lives, #round {
    width: 50%;
    display: inline-block;
    text-align: left;
    font-size: 22px;
}

#round  {
    text-align: right;
}

#stats  {
    width: 100%;
    display: block;
    font-size: 20px;
    font-style: italic;
    padding: 20px 0;
}

#chosen-word    {
    min-width: 800px;
    margin: 0 auto;

    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 3px gray solid;
    box-shadow: 3px 3px 10px gray;
    margin-bottom: 20px;
    border-radius: 5px;
}

#definition {
    min-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: darkolivegreen;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#alphabet   {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.alphabet-letter    {
    min-width: 70px;
    min-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #442E6B;
    color: white;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

#result-message {
    min-height: 50px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

#letter-input   {
    border: 1px gray solid;
    min-width: 100px;
    border-radius: 5px;
    min-height: 40px;
    font-size: 20px;
    padding: 20px 10px;
}

#incorrect-letters  {
    display: flex;
    margin-left: 100px;
    font-size: 20px;
    flex-grow: 1;
}

#word-length    {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    font-size: 20px;
}

#word-length select {
    font-size: 20px;
    margin-left: 50px;
}



#incorrect-letter-group {
    flex-grow: 3;
    font-size: 20px;
    margin-left: 100px;
    border: 5px solid #442E6B;
    border-radius: 5px;
    width: 50%;
    padding: 10px 10px;
}

#start-game-block   {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#start  {
    width: 200px;
}

